language: node_js
node_js:
- 11.1.0
before_install:
script:
- yarn test
after_success:
- openssl aes-256-cbc -K $encrypted_910bd7ff3bb6_key -iv $encrypted_910bd7ff3bb6_iv -in takubdm-GitHub.enc -out ~\/.ssh/takubdm-GitHub -d
- chmod 600 ~/.ssh/id_rsa
- echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
- git config --global user.email "t.hara.mobile@gmail.com"
- git config --global user.name "takubdm"
- yarn docs
- sed -re s/^\\/?docs\\/?$// .gitignore
- git add docs/
- git commit -m "by Travis CI (JOB $TRAVIS_JOB_NUMBER)"
- git push origin gh-pages
