language: node_js
node_js:
- 11.1.0
before_install:
script:
- yarn test
after_success:
- openssl aes-256-cbc -K $encrypted_910bd7ff3bb6_key -iv $encrypted_910bd7ff3bb6_iv -in id_rsa.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
- echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
- git config --global user.email "t.hara.mobile@gmail.com"
- git config --global user.name "takubdm"
- mkdir _docs && cd _docs
- git init
- git remote add origin git@github.com:takubdm/danger-js.git
- git pull origin gh-pages
- rm -rf ./*
- cd ../
- yarn docs
- mv docs/* _docs
- cd _docs
- touch .nojekyll
- git add .
- git commit -m "by Travis CI (JOB $TRAVIS_JOB_NUMBER)"
- git push origin HEAD:gh-pages
